@import "compass/reset";
@import "compass/css3";

html {
    font-family: oxygen, sans-serif;
}

.page-viewport {
    width:960px;
    margin: 0 auto;
}

#title {
    font-size:20px;
    font-weight:bold;
    text-align:center;
    margin: 20px 0;
}
#examples {
    h1 {
        font-size:18px;
        font-weight:bold;

    }
    .item {
        margin:20px 0;
        padding: 20px;
        //border:1px solid lightBlue;
        background:white;
        @include border-radius(10px);
        @include box-shadow(0 0 10px #ccc);
        pre {
            margin-bottom:10px;
        }
        code {
            font-family:courier new;
            line-height:1.2em;
        }
    }
}